
for group in groups
  if group.title
    h2= group.title

  table.segments
    tr
      th.segment &nbsp;
      for col in group.segments.cols
        th= col.title

    for row in group.segments.rows
      tr
        td.segment= row.key
        for col in row.cols
          td= col.value.count
